<html>
<head>
  <title>AIIT enpit sinatra app by ucchi</title>
  <script type="text/javascript" language="Javascript1.5">
    function buttonClick(){
    alert('hello enpit!');
    }

  </script>
</head>
<body>
  <p>hello! it's fine day. </p>
  <p>Autumnal Equinox Day of 2014.</p>
  <input type="button" value="button" onClick="buttonClick()" />
</body>
</html>



